# Model Training
## Contents
1. [BigQuery ML](#BQML)  
    1.1 [Training](#BQML_train)  
    1.2 [Evaluation](#BQML_eval)  
    1.3 [Prediction](#BQML_pred)
2. [AutoML Tables](#AutoMLTables)

In [5]:
from google.cloud import bigquery
import pandas as pd
import numpy as np
import sys

<a id='BQML'></a>
# BigQuery ML (BQML)
Reference the [CREATE MODEL syntax](https://cloud.google.com/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-create) to learn about additional model_options for your BigQuery ML model.  
<br/>
This is a great option if you are very comfortable with SQL and want to quickly iterate and test models.
<br/>
BigQuery ML takes care of the following preprocessing steps:
- Null imputation
- One-hot encoding  
<br/>
<a id='BQML_train'></a>  

## Train BQML Model
The below example assumes that you have already loaded a preprocessed table into BigQuery (See `Preprocessing.ipynb` for more information on preprocessing).  
If you want to additional preprocessing in BigQuery, just add the transformations to the select statement.  
<br>The below code sample will only train a model if a model with the same name does not yet exist. This requirement ensures that we can compare model iterations. If you would like to train a new model, change `CREATE MODEL IF NOT EXISTS` to:
- `CREATE OR REPLACE MODEL [existing_model_name]`: if you would like to overwrite an existing model, if it exists
- `CREATE MODEL IF NOT EXISTS [new_model_name]`: if you would like to create a new model, not overwriting the old model

In [ ]:
sql = """
CREATE MODEL IF NOT EXISTS `test_upload.sample_model`
OPTIONS(
    MODEL_TYPE='logistic_reg',
    INPUT_LABEL_COLS = ['opened'],
    DATA_SPLIT_METHOD = 'CUSTOM',
    DATA_SPLIT_COL = 'eval'
    ) AS
SELECT * EXCEPT(campaign_send_dt, riid) # Use all columns as features besides key columns (campaign_send_dt and riid)
FROM `test_upload.pandas_table`
"""

client = bigquery.Client()
query_job = client.query(sql) # API request
result = query_job.to_dataframe()

<a id='BQML_eval'></a>  
## Evaluate BQML Model
You have multiple options for analyzing a BQML model's evaluation metrics (i.e. precision, recall, etc...).  
<br/>
As long as you don't overwrite your old BQML models (i.e. by running `CREATE OR REPLACE MODEL...` and not using a new model name), you'll have a collection of old BigQuery models to reference and compare.

### Option #1: Via BigQuery UI
Evaluation metrics for each of your models can be found in the [BigQuery UI](https://console.cloud.google.com/bigquery) under the Evaluation tab.
<br>
<img src="img/eval_metrics_bqml.png" title="Eval Metrics"/>   
<br>
Available metrics include:
- ROC AUC
- Log loss
- Interactive (for different classification thresholds) precision, recall, accuracy, F1 score metrics
- Confusion matrix
- Precision-recall curve
- Precision and Recall vs. Threshold
- ROC Curve  
  
  
### Option #2: Via BigQueryML
You can also access Evaluation Metrics using BQML queries, as shown in the samples below. More information about using `ML.EVALUATE` can be found [here](https://cloud.google.com/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-evaluate).  
  
You can either use the Python BigQuery API (from this notebook) or the [BigQuery UI](https://console.cloud.google.com/bigquery) to run these queries.

If you don't specify a table for `ML.EVALUATE`, the metrics will based on Evaluation data (as specified during model training). If there are more columns in the provided or default table than were used for model training (i.e. key columns), these columns will be ignored.

In [18]:
sql = """
SELECT *
FROM ML.EVALUATE(MODEL `test_upload.sample_model`)
"""
query_job = client.query(sql) # API request
result = query_job.to_dataframe()
print(result)

   precision    recall  accuracy  f1_score  log_loss   roc_auc
0   0.618956  0.279507  0.834747  0.385108  0.423249  0.573457

<br/>
You can also specify a table and/or custom threshold.  
  
If your source table has different column names and transformations than the table used for training, make sure to apply these transformations and rename the columns before using it to query evaluation matrix.

In [20]:
sql = """
SELECT *
FROM ML.EVALUATE(MODEL `test_upload.sample_model`,
    (
    SELECT opened,
        hist_opens,
        hist_sends,
        hist_open_rate
    FROM `test_upload.pandas_table`
    WHERE eval),
    STRUCT(0.55 AS threshold))
"""
query_job = client.query(sql) # API request
result = query_job.to_dataframe()
print(result)

   precision    recall  accuracy  f1_score  log_loss   roc_auc
0   0.620039  0.276913  0.834707  0.382845  0.423249  0.573457

#### ROC Curve
`ML.ROC_CURVE` returns evaluation metrics for different classification thresholds.

In [23]:
sql = """
    SELECT
      *
    FROM
      ML.ROC_CURVE(MODEL `test_upload.sample_model`,
        TABLE `test_upload.pandas_table`)
"""
query_job = client.query(sql) # API request
result = query_job.to_dataframe()

In [24]:
result

,threshold,recall,false_positive_rate,true_positives,false_positives,true_negatives,false_negatives
0,0.960219,0.000107,0.000000,2,0,81374,18624
1,0.743504,0.052668,0.002593,981,211,81163,17645
2,0.654836,0.121980,0.009131,2272,743,80631,16354
3,0.553906,0.272791,0.039939,5081,3250,78124,13545
4,0.488284,0.293407,0.045838,5465,3730,77644,13161
5,0.317057,0.348599,0.074078,6493,6028,75346,12133
6,0.239029,0.368034,0.088996,6855,7242,74132,11771
7,0.170302,0.378664,0.099037,7053,8059,73315,11573
8,0.167541,0.811178,0.585199,15109,47620,33754,3517
9,0.110966,0.923977,0.810283,17210,65936,15438,1416
10,0.102016,0.969935,0.919593,18066,74831,6543,560
11,0.093711,0.988994,0.969868,18421,78922,2452,205
12,0.086018,0.996671,0.989948,18564,80556,818,62
13,0.055523,1.000000,1.000000,18626,81374,0,0

### Tuning probability threshold  
We can tune the threshold to achieve a certain recall (then you will live with whatever precision you get). Let’s say that we want to make sure to identify at least 70% of opened emails, i.e. we want a recall of 0.7.   
<br/>We can identify this graph by simply using looking at the chart above, referencing the interactive plots in the BigQuery UI, or by using the below query to identify the given threshold (as explained [here](https://towardsdatascience.com/how-to-tune-a-bigquery-ml-classification-model-to-achieve-a-desired-precision-or-recall-e4d40b93016a)).

In [28]:
sql = """
    WITH roc AS (
        SELECT
          *
        FROM
          ML.ROC_CURVE(MODEL `test_upload.sample_model`,
            (SELECT opened,
                hist_opens,
                hist_sends,
                hist_open_rate
            FROM `test_upload.pandas_table`
            WHERE eval = False)
            ))
    SELECT
        threshold,
        recall, false_positive_rate,
        ABS(recall - 0.7) AS from_desired_recall
    FROM roc
    ORDER BY from_desired_recall ASC
    LIMIT 1    
"""
query_job = client.query(sql) # API request
result = query_job.to_dataframe()
print(result)

   threshold    recall  false_positive_rate  from_desired_recall
0   0.167541  0.810714             0.586374             0.110714

### Confusion Matrix
More information about BQML Confusion Matrices can be found [here](https://cloud.google.com/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-confusion)

In [43]:
sql = """
SELECT
  *
FROM
  ML.CONFUSION_MATRIX(MODEL `test_upload.sample_model`,
  (
    SELECT *
    FROM `test_upload.pandas_table`
    WHERE eval),
    STRUCT(0.55 AS threshold)
    )
"""
query_job = client.query(sql) # API request
result = query_job.to_dataframe()
result

   expected_label     _0    _1
0               0  19575   785
1               1   3345  1281

### Feature Info
`ML.FEATURE_INFO`, as explained [here](https://cloud.google.com/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-feature), returns information about input features used to train the model including:
- input: name of the column
- min: sample minimum (NULL if categorical)
- max: sample maximum (NULL if categorical)
- mean: sample average (NULL if categorical)
- stddev: sample standard deviation (NULL if categorical)
- categorical_count: number of categories (NULL if not categorical)
- null_count - number of NULLs

In [34]:
sql = """
    SELECT
      *
    FROM
      ML.FEATURE_INFO(MODEL `test_upload.sample_model`)
"""

query_job = client.query(sql) # API request
result = query_job.to_dataframe()
result

,input,min,max,mean,median,stddev,category_count,null_count
0,hist_opens,0.0,8.0,0.228517,0.0,0.633862,None,0
1,hist_sends,0.0,10.0,1.008878,1.0,1.283603,None,0
2,hist_open_rate,0.0,1.0,0.215606,0.0,0.370378,None,35713

### Weights
The `ML.WEIGHTS` function allows you to see the underlying weights used by a model during prediction, as explained [here](https://cloud.google.com/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-weights).  
  
Our example does not include categorical columns. However, if we want to look at weights for categorical (one-hot encoded) features, use the following query:
```
SELECT
  category,
  weight
FROM
  UNNEST((
    SELECT
      category_weights
    FROM
      ML.WEIGHTS(MODEL `[dataset_id].[model_name]`)
    WHERE
      processed_input = '[categorical_column]'))
```  
It's also very simple to look at the weights of numeric or boolean features, as shown below.

In [39]:
sql = """
    SELECT
      processed_input, weight
    FROM
      ML.WEIGHTS(MODEL `test_upload.sample_model`)
"""

query_job = client.query(sql) # API request
result = query_job.to_dataframe()
result

  processed_input    weight
0      hist_opens  0.518016
1      hist_sends -0.094116
2  hist_open_rate  1.779359
3   __INTERCEPT__ -1.986794

<a id='BQML_pred'></a>  
## Predictions using BQML Model
The `ML.PREDICT` function can be used to predict outcomes using the model, as explained [here](https://cloud.google.com/bigquery-ml/docs/reference/standard-sql/bigqueryml-syntax-predict).

In [46]:
sql = """
    SELECT
      *
    FROM
      ML.PREDICT(MODEL `test_upload.sample_model`,
      (
        SELECT *
        FROM `test_upload.pandas_table`
        WHERE eval),
        STRUCT(0.55 AS threshold)
        )
"""

query_job = client.query(sql) # API request
result = query_job.to_dataframe()
result.head()

,predicted_opened,predicted_opened_probs,riid,campaign_send_dt,opened,hist_opens,hist_sends,hist_open_rate,eval
0,0,"[{'prob': 0.1675412616617039, 'label': 1}, {'p...",737847182,2018-01-01,0,0,0,NaN,True
1,0,"[{'prob': 0.1675412616617039, 'label': 1}, {'p...",566134962,2018-01-01,0,0,0,NaN,True
2,0,"[{'prob': 0.1675412616617039, 'label': 1}, {'p...",849236702,2018-01-01,0,0,0,NaN,True
3,0,"[{'prob': 0.1675412616617039, 'label': 1}, {'p...",825551142,2018-01-01,0,0,0,NaN,True
4,0,"[{'prob': 0.1675412616617039, 'label': 1}, {'p...",825759702,2018-01-01,0,0,0,NaN,True

The predicted probabilities for each class are stored in a nested array. We can use BigQuery's `UNNEST` function to find the probabilities of an opened email.  

Notice that the name of the prediction column (`predicted_opened`) is formatted `predicted_[name_of_label_column]` and the column containing the nested probabilities (`predicted_opened_probs`) is formatted `predicted_[name_of_label_column]_probs`. You will need to replace the `opened` with the name of your label column in the code samples below.

In [49]:
sql = """WITH results  AS (
      SELECT
        *
      FROM
        ML.PREDICT(MODEL `test_upload.sample_model`,
        (
          SELECT *
          FROM `test_upload.pandas_table`
          WHERE eval),
          STRUCT(0.55 AS threshold)
          ))
    SELECT riid,
        campaign_send_dt,
        predicted_opened, # Replace with predict_[name_of_label_column]
        probs.prob
    FROM results, UNNEST(predicted_opened_probs) as probs # Replace table in UNNEST(...) with predict_[name_of_label_column]_probs
    WHERE probs.label = 1"""

query_job = client.query(sql) # API request
result = query_job.to_dataframe()
result.head()

        riid campaign_send_dt  predicted_opened      prob
0  737847182       2018-01-01                 0  0.167541
1  566134962       2018-01-01                 0  0.167541
2  849236702       2018-01-01                 0  0.167541
3  825551142       2018-01-01                 0  0.167541
4  825759702       2018-01-01                 0  0.167541

<a id='AutoMLTables'></a>
# AutoML Tables
## Training
### Option #1 UI
https://console.cloud.google.com/automl-tables
Import Data from BigQuery
Downside: Import can take awhile